<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper.java의 풀패키지명.클래스명 -->
<mapper namespace="com.club.app.club.ClubMapper">

	<select id="getCount" parameterType="Pager" resultType="long">
		SELECT COUNT(*)
		FROM "TB_CLUB"
		<where>
			<if test="clubCategory != null and clubCategory != ''">
				"CLUB_CATEGORY" = #{clubCategory}
			</if>
		</where>
	</select>

	<select id="list" parameterType="Pager" resultType="ClubDTO">

		SELECT
		C.*,
		(
		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER" CM
		WHERE CM."CLUB_NUM"
		= C."CLUB_NUM"
		) AS "CURRENT_MEMBER"

		FROM "TB_CLUB" C

		<where>
			<if test="clubCategory != null and clubCategory != ''">
				C."CLUB_CATEGORY" = #{clubCategory}
			</if>
		</where>

		ORDER BY C."CLUB_NUM" ASC

		LIMIT #{perPage} OFFSET #{startNum}

	</select>

	<select id="detail" parameterType="ClubDTO" resultType="ClubDTO">
		SELECT
		C.*,
		COUNT(CM."MEMBER_NUM") AS "currentMember"
		FROM "TB_CLUB" C
		LEFT JOIN "TB_CLUB_MEMBER" CM
		ON C."CLUB_NUM" = CM."CLUB_NUM"
		WHERE C."CLUB_NUM" = #{clubNum}
		GROUP BY C."CLUB_NUM"
	</select>
	
	<!-- 테스트 -->
	<select id="index2" parameterType="Pager" resultType="ClubDTO">

		SELECT
		C.*,
		(
		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER" CM
		WHERE CM."CLUB_NUM"
		= C."CLUB_NUM"
		) AS "CURRENT_MEMBER"

		FROM "TB_CLUB" C

		<where>
			<if test="clubCategory != null and clubCategory != ''">
				C."CLUB_CATEGORY" = #{clubCategory}
			</if>
		</where>

		ORDER BY C."CLUB_NUM" ASC

		LIMIT #{perPage} OFFSET #{startNum}

	</select>

</mapper>