<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper.java의 풀패키지명.클래스명 -->
<mapper namespace="com.club.app.club.ClubMapper">

	<select id="getCount" parameterType="Pager" resultType="long">
		SELECT COUNT(*)
		FROM "TB_CLUB" C
		<where>
			<if test="clubCategory != null and clubCategory != ''">
				C."CLUB_CATEGORY" = #{clubCategory}
			</if>

			<if test="search != null and search != ''">
				AND
				<choose>
					<when test="kind == 'name'">
						C."CLUB_NAME" ILIKE '%' || #{search} || '%'
					</when>
					<when test="kind == 'location'">
						C."CLUB_LOCATION" ILIKE '%' || #{search} || '%'
					</when>
					<otherwise>
						(
						C."CLUB_NAME" ILIKE '%' || #{search} || '%'
						OR
						C."CLUB_LOCATION"
						ILIKE '%' || #{search} || '%'
						OR C."CLUB_CONTENTS"
						ILIKE '%' ||
						#{search} || '%'
						)
					</otherwise>
				</choose>
			</if>
		</where>
	</select>

	<select id="list" parameterType="Pager"
		resultMap="clubFileResultMap">

		SELECT
		C.*,
		M."MEMBER_NAME" AS "OWNER_NAME",
		F."FILE_NUM",
		F."FILE_NAME",
		F."ORI_NAME",
		(
		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER" CM2
		WHERE
		CM2."CLUB_NUM" = C."CLUB_NUM"
		AND CM2."ROLE_NUM" IN (1, 2)
		) AS
		"CURRENT_MEMBER"

		FROM "TB_CLUB" C

		LEFT JOIN "TB_CLUB_MEMBER" CM
		ON
		C."CLUB_NUM" = CM."CLUB_NUM"
		AND CM."ROLE_NUM" = 1

		LEFT JOIN "TB_MEMBER"
		M
		ON CM."MEMBER_NUM" = M."MEMBER_NUM"

		LEFT JOIN
		(
		SELECT DISTINCT ON
		("CLUB_NUM")
		"FILE_NUM",
		"FILE_NAME",
		"ORI_NAME",
		"CLUB_NUM"
		FROM
		"TB_CLUBFILE"
		ORDER BY "CLUB_NUM", "FILE_NUM" ASC
		) F
		ON C."CLUB_NUM" =
		F."CLUB_NUM"

		<where>
			<if test="clubCategory != null and clubCategory != ''">
				C."CLUB_CATEGORY" = #{clubCategory}
			</if>

			<if test="search != null and search != ''">
				AND
				<choose>
					<when test="kind == 'name'">
						C."CLUB_NAME" ILIKE '%' || #{search} || '%'
					</when>
					<when test="kind == 'location'">
						C."CLUB_LOCATION" ILIKE '%' || #{search} || '%'
					</when>
					<otherwise>
						(
						C."CLUB_NAME" ILIKE '%' || #{search} || '%'
						OR C."CLUB_LOCATION" ILIKE '%' || #{search} || '%'
						OR C."CLUB_CONTENTS" ILIKE '%' || #{search} || '%'
						)
					</otherwise>
				</choose>
			</if>
		</where>

		ORDER BY C."CLUB_NUM" DESC
		LIMIT #{perPage} OFFSET #{startNum}

	</select>

	<resultMap id="clubFileResultMap" type="ClubDTO">
		<id property="clubNum" column="CLUB_NUM" />
		<result property="clubName" column="CLUB_NAME" />
		<result property="clubCategory" column="CLUB_CATEGORY" />
		<result property="clubLocation" column="CLUB_LOCATION" />
		<result property="clubMax" column="CLUB_MAX" />
		<result property="currentMember" column="CURRENT_MEMBER" />
		<result property="clubContents" column="CLUB_CONTENTS" />
		<result property="ownerName" column="OWNER_NAME" />

		<association property="fileDTO" javaType="FileDTO">
			<id property="fileNum" column="FILE_NUM" />
			<result property="fileName" column="FILE_NAME" />
			<result property="oriName" column="ORI_NAME" />
		</association>
	</resultMap>

	<select id="detail" parameterType="ClubDTO"
		resultMap="clubFileResultMap">

		SELECT
		C.*,
		COUNT(CASE WHEN CM."ROLE_NUM" IN (1, 2) THEN 1
		END) AS "CURRENT_MEMBER",
		F."FILE_NUM",
		F."FILE_NAME",
		F."ORI_NAME",
		OWNER."MEMBER_NAME" AS
		"OWNER_NAME"

		FROM "TB_CLUB" C

		LEFT JOIN
		"TB_CLUB_MEMBER" CM
		ON
		C."CLUB_NUM" = CM."CLUB_NUM"

		LEFT JOIN
		"TB_CLUBFILE" F
		ON C."CLUB_NUM" =
		F."CLUB_NUM"

		LEFT JOIN "TB_CLUB_MEMBER"
		OCM
		ON C."CLUB_NUM" =
		OCM."CLUB_NUM"
		AND OCM."ROLE_NUM" = 1

		LEFT JOIN
		"TB_MEMBER" OWNER
		ON
		OCM."MEMBER_NUM" = OWNER."MEMBER_NUM"

		WHERE
		C."CLUB_NUM" = #{clubNum}

		GROUP BY
		C."CLUB_NUM",
		F."FILE_NUM",
		F."FILE_NAME",
		F."ORI_NAME",
		OWNER."MEMBER_NAME"

	</select>




	<insert id="create" parameterType="ClubDTO"
		useGeneratedKeys="true" keyProperty="clubNum" keyColumn="CLUB_NUM">

		INSERT INTO
		"TB_CLUB"
		(
		"CLUB_NAME",
		"CLUB_CATEGORY",
		"CLUB_LOCATION",
		"CLUB_MAX",
		"CLUB_CONTENTS"
		)
		VALUES
		(
		#{clubName},
		#{clubCategory},
		#{clubLocation},
		#{clubMax},
		#{clubContents}
		)

	</insert>

	<insert id="createFile" parameterType="FileDTO">

		INSERT INTO "TB_CLUBFILE"
		(
		"FILE_NAME",
		"ORI_NAME",
		"CLUB_NUM"
		)
		VALUES
		(
		#{fileName},
		#{oriName},
		#{clubNum}
		)

	</insert>

	<select id="isClubOwner" parameterType="ClubDTO"
		resultType="long">
		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" =
		#{clubNum}
		AND "MEMBER_NUM" = #{memberNum}
		AND "ROLE_NUM" = 1
	</select>

	<select id="isAdmin" parameterType="MemberDTO" resultType="long">
		SELECT COUNT(*)
		FROM "TB_MEMBER"
		WHERE "MEMBER_NUM" = #{memberNum}
		AND
		"ROLE_NUM" = 1
	</select>

	<delete id="delete" parameterType="ClubDTO">
		DELETE FROM "TB_CLUB"
		WHERE
		"CLUB_NUM" = #{clubNum}
	</delete>

	<select id="myClubList" parameterType="ClubMemberDTO"
		resultMap="clubFileResultMap">

		SELECT
		C.*,

		F."FILE_NUM",
		F."FILE_NAME",
		F."ORI_NAME",

		(
		SELECT
		COUNT(*)
		FROM "TB_CLUB_MEMBER" CM2
		WHERE CM2."CLUB_NUM" =
		C."CLUB_NUM"
		AND CM2."ROLE_NUM" IN (1,2)
		) AS "CURRENT_MEMBER"

		FROM "TB_CLUB" C

		INNER
		JOIN "TB_CLUB_MEMBER" CM
		ON C."CLUB_NUM" = CM."CLUB_NUM"

		LEFT JOIN
		(
		SELECT DISTINCT ON ("CLUB_NUM")
		"FILE_NUM",
		"FILE_NAME",
		"ORI_NAME",
		"CLUB_NUM"
		FROM "TB_CLUBFILE"
		ORDER BY "CLUB_NUM", "FILE_NUM" ASC
		) F
		ON
		C."CLUB_NUM" = F."CLUB_NUM"

		WHERE CM."MEMBER_NUM" = #{memberNum}
		AND
		CM."ROLE_NUM" IN (1,2)

		ORDER BY C."CLUB_NUM" DESC

	</select>


</mapper>