<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.app.club.member.ClubMemberMapper">

	<select id="checkJoin" parameterType="ClubMemberDTO"
		resultType="int">

		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" =
		#{clubNum}
		AND "MEMBER_NUM" = #{memberNum}

	</select>

	<insert id="join">

		INSERT INTO "TB_CLUB_MEMBER"
		(
		"CLUB_NUM",
		"MEMBER_NUM",
		"ROLE_NUM"
		)
		VALUES
		(
		#{clubNum},
		#{memberNum},
		#{roleNum}
		)

	</insert>

	<select id="getCurrentMember" parameterType="long"
		resultType="long">
		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" =
		#{clubNum}
		AND "ROLE_NUM" IN (1, 2)
	</select>

	<select id="getClubMax" parameterType="long" resultType="long">
		SELECT
		"CLUB_MAX"
		FROM "TB_CLUB"
		WHERE "CLUB_NUM" = #{clubNum}
	</select>

	<select id="getClubOwnerMemberNum" parameterType="long"
		resultType="long">

		SELECT "MEMBER_NUM"
		FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" =
		#{clubNum}
		AND "ROLE_NUM" = 1
		LIMIT 1

	</select>

	<select id="getClubName" parameterType="long"
		resultType="string">

		SELECT "CLUB_NAME"
		FROM "TB_CLUB"
		WHERE "CLUB_NUM" =
		#{clubNum}

	</select>

	<select id="checkApprovedMember" parameterType="ClubMemberDTO"
		resultType="int">

		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" =
		#{clubNum}
		AND "MEMBER_NUM" = #{memberNum}
		AND "ROLE_NUM" IN (1, 2)

	</select>

	<select id="waitList" parameterType="long"
		resultType="ClubMemberDTO">

		SELECT
		CM."CLUB_NUM",
		CM."MEMBER_NUM",
		CM."ROLE_NUM",
		M."MEMBER_ID",
		M."MEMBER_NAME",
		M."MEMBER_PHONE"

		FROM "TB_CLUB_MEMBER" CM

		JOIN "TB_MEMBER"
		M
		ON CM."MEMBER_NUM" = M."MEMBER_NUM"

		WHERE CM."CLUB_NUM" = #{clubNum}
		AND CM."ROLE_NUM" = 0

	</select>


	<update id="approve" parameterType="ClubMemberDTO">

		UPDATE "TB_CLUB_MEMBER"

		SET
		"ROLE_NUM" = 2

		WHERE "CLUB_NUM" = #{clubNum}
		AND "MEMBER_NUM" =
		#{memberNum}
		AND "ROLE_NUM" = 0

	</update>

	<select id="checkWaitingMember" parameterType="ClubMemberDTO"
		resultType="int">
		SELECT COUNT(*)
		FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" =
		#{clubNum}
		AND "MEMBER_NUM" = #{memberNum}
		AND "ROLE_NUM" = 0
	</select>

	<select id="getRoleNum" parameterType="ClubMemberDTO"
		resultType="long">
		SELECT "ROLE_NUM"
		FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" =
		#{clubNum}
		AND "MEMBER_NUM" = #{memberNum}
		LIMIT 1
	</select>

	<delete id="kickMember" parameterType="ClubMemberDTO">

		DELETE FROM
		"TB_CLUB_MEMBER"

		WHERE "CLUB_NUM" = #{clubNum}
		AND "MEMBER_NUM" =
		#{memberNum}
		AND "ROLE_NUM" = 2

	</delete>

	<select id="memberList" parameterType="long"
	resultType="ClubMemberDTO">

	SELECT
	CM.*,
	M."MEMBER_ID" AS "memberId",
	M."MEMBER_NAME" AS "memberName",
	M."MEMBER_PHONE" AS "memberPhone"

	FROM "TB_CLUB_MEMBER" CM

	JOIN "TB_MEMBER" M
	ON CM."MEMBER_NUM" = M."MEMBER_NUM"

	WHERE CM."CLUB_NUM" = #{clubNum}
	AND CM."ROLE_NUM" IN (1, 2)

	ORDER BY CM."ROLE_NUM" ASC

</select>

	<delete id="leave" parameterType="ClubMemberDTO">
		DELETE FROM "TB_CLUB_MEMBER"
		WHERE "CLUB_NUM" = #{clubNum}
		AND "MEMBER_NUM" = #{memberNum}
		AND
		"ROLE_NUM" = 2
	</delete>

	<update id="delegateOwnerToMember" parameterType="ClubMemberDTO">

		UPDATE "TB_CLUB_MEMBER"

		SET "ROLE_NUM" = 1

		WHERE "CLUB_NUM" = #{clubNum}
		AND "MEMBER_NUM" = #{memberNum}
		AND "ROLE_NUM" = 2

	</update>

	<update id="downgradeOwner" parameterType="ClubMemberDTO">

		UPDATE "TB_CLUB_MEMBER"

		SET "ROLE_NUM" = 2

		WHERE "CLUB_NUM" = #{clubNum}
		AND "ROLE_NUM" = 1

	</update>

</mapper>