<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.app.club.board.ClubBoardMapper">

	<!-- 게시글 개수 -->
	<select id="getCount" parameterType="Pager" resultType="long">
		SELECT
		COUNT(*)
		FROM "TB_CLUB_BOARD"
		WHERE "CLUB_NUM" = #{clubNum}
	</select>

	<!-- 게시글 목록 -->
	<select id="list" resultType="ClubBoardDTO">
		SELECT *
		FROM "TB_CLUB_BOARD"
		ORDER
		BY "BOARD_NUM" DESC
		LIMIT #{perPage}
		OFFSET #{startNum}
	</select>

	<!-- 게시글 상세 -->
	<select id="detail" parameterType="ClubBoardDTO"
		resultType="ClubBoardDTO">

		SELECT
		"BOARD_NUM" AS "boardNum",
		"BOARD_TITLE" AS
		"boardTitle",
		"BOARD_CONTENTS" AS "boardContents",
		"BOARD_WRITER" AS
		"boardWriter",
		"BOARD_CATEGORY" AS "boardCategory",
		"CREATE_DATE" AS
		"boardDate",
		"CLUB_NUM" AS "clubNum"
		FROM "TB_CLUB_BOARD"
		WHERE
		"BOARD_NUM" = #{boardNum}

	</select>

	<!-- 동호회 게시판 -->
	<select id="getClubBoardCount" resultType="long">
		SELECT COUNT(*)
		FROM
		"TB_CLUB_BOARD"
		WHERE "CLUB_NUM" = #{clubNum}
	</select>

	<select id="clubBoardList" parameterType="Pager"
		resultType="ClubBoardDTO">

		SELECT
		"BOARD_NUM" AS "boardNum",
		"CLUB_NUM" AS "clubNum",
		"BOARD_TITLE" AS
		"boardTitle",
		"BOARD_CONTENTS" AS "boardContents",
		"BOARD_WRITER" AS
		"boardWriter",
		"BOARD_CATEGORY" AS "boardCategory",
		"CREATE_DATE" AS
		"boardDate"
		FROM "TB_CLUB_BOARD"
		WHERE "CLUB_NUM" = #{clubNum}
		ORDER BY "BOARD_NUM" DESC
		LIMIT #{perPage}
		OFFSET #{startNum}

	</select>

	<select id="clubBoardListByClubNum" parameterType="long"
		resultType="ClubBoardDTO">

		SELECT *
		FROM "TB_CLUB_BOARD"
		WHERE "CLUB_NUM" = #{clubNum}
		ORDER BY "BOARD_NUM" DESC

	</select>

	<!-- 게시판 첨부파일 조회 -->
	<select id="getFiles" parameterType="ClubBoardDTO"
		resultType="ClubFileDTO">

		SELECT *
		FROM "TB_CLUB_BOARD_FILE"
		WHERE "BOARD_NUM" =
		#{boardNum}

	</select>


	<!-- 게시글 작성 -->
	<insert id="create" parameterType="ClubBoardDTO"
		useGeneratedKeys="true" keyProperty="boardNum">

		INSERT INTO "TB_CLUB_BOARD"
		(
		"CLUB_NUM",
		"BOARD_TITLE",
		"BOARD_CONTENTS",
		"BOARD_CATEGORY",
		"CREATE_DATE",
		"BOARD_WRITER"
		)
		VALUES
		(
		#{clubNum},
		#{boardTitle},
		#{boardContents},
		#{boardCategory},
		now(),
		#{boardWriter}
		)

	</insert>

	<!-- 수정 -->
	<update id="update" parameterType="ClubBoardDTO">

		UPDATE "TB_CLUB_BOARD"
		SET
		"BOARD_TITLE" = #{boardTitle},
		"BOARD_CONTENTS" = #{boardContents},
		"BOARD_CATEGORY" = #{boardCategory}
		WHERE "BOARD_NUM" = #{boardNum}

	</update>

	<!-- 삭제 -->
	<delete id="delete" parameterType="ClubBoardDTO">

		DELETE FROM "TB_CLUB_BOARD"
		WHERE "BOARD_NUM" = #{boardNum}

	</delete>

</mapper>