<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.app.club.board.ClubBoardMapper">

	<!-- 게시글 개수 -->
	<select id="getCount" parameterType="Pager" resultType="long">
		SELECT
		COUNT(*)
		FROM "TB_CLUB_BOARD"
		WHERE "CLUB_NUM" = #{clubNum}
	</select>

	<!-- 게시글 목록 -->
	<select id="list" parameterType="Pager"
		resultType="ClubBoardDTO">
		SELECT
		B.*,
		M."MEMBER_NAME",
		(
		SELECT COUNT(*)
		FROM
		"TB_CLUB_BOARD_FILE" BF
		WHERE BF."BOARD_NUM" = B."BOARD_NUM"
		) AS
		"FILE_COUNT"
		FROM "TB_CLUB_BOARD" B
		LEFT JOIN "TB_MEMBER" M
		ON
		B."MEMBER_NUM" = M."MEMBER_NUM"
		WHERE B."CLUB_NUM" = #{clubNum}
		ORDER BY
		B."BOARD_NUM" DESC
		LIMIT #{perPage} OFFSET #{startNum}
	</select>

	<!-- 게시글 상세 -->
	<select id="detail" parameterType="ClubBoardDTO"
		resultType="ClubBoardDTO">

		SELECT
		CB."BOARD_NUM" AS "boardNum",
		CB."BOARD_TITLE" AS
		"boardTitle",
		CB."BOARD_CONTENTS" AS "boardContents",
		CB."BOARD_WRITER"
		AS "boardWriter",
		CB."BOARD_CATEGORY" AS "boardCategory",
		CB."CREATE_DATE" AS "createDate",
		CB."CLUB_NUM" AS "clubNum",
		M."MEMBER_NAME" AS "memberName"
		FROM "TB_CLUB_BOARD" CB
		JOIN "TB_MEMBER"
		M
		ON CB."BOARD_WRITER" = M."MEMBER_ID"
		WHERE CB."BOARD_NUM" =
		#{boardNum}

	</select>

	<!-- 동호회 게시판 -->
	<select id="getClubBoardCount" resultType="long">
		SELECT COUNT(*)
		FROM
		"TB_CLUB_BOARD"
		WHERE "CLUB_NUM" = #{clubNum}
	</select>

	<select id="clubBoardList" parameterType="Pager"
		resultType="ClubBoardDTO">

		SELECT

		CB."BOARD_NUM" AS "boardNum",
		CB."CLUB_NUM" AS
		"clubNum",
		CB."BOARD_TITLE" AS "boardTitle",
		CB."BOARD_CONTENTS" AS
		"boardContents",
		CB."BOARD_WRITER" AS "boardWriter",

		M."MEMBER_NAME" AS
		"memberName",

		CB."BOARD_CATEGORY" AS "boardCategory",

		CB."CREATE_DATE"
		AS "createDate",

		(
		SELECT COUNT(*)
		FROM "TB_CLUB_BOARD_FILE" BF
		WHERE
		BF."BOARD_NUM" =
		CB."BOARD_NUM"
		) AS "fileCount",

		(
		SELECT COUNT(*)
		FROM
		"TB_CLUB_BOARD_COMMENT" BC
		WHERE BC."BOARD_NUM" =
		CB."BOARD_NUM"
		) AS
		"commentCount"

		FROM "TB_CLUB_BOARD" CB

		JOIN "TB_MEMBER" M
		ON
		CB."BOARD_WRITER" = M."MEMBER_ID"

		WHERE CB."CLUB_NUM" = #{clubNum}

		ORDER BY CB."BOARD_NUM" DESC

		LIMIT #{perPage}
		OFFSET #{startNum}

	</select>

	<select id="clubBoardListByClubNum" parameterType="long"
		resultType="ClubBoardDTO">

		SELECT *
		FROM "TB_CLUB_BOARD"
		WHERE "CLUB_NUM" = #{clubNum}
		ORDER BY "BOARD_NUM" DESC

	</select>

	<!-- 게시판 첨부파일 조회 -->
	<select id="getFiles" parameterType="ClubBoardDTO"
		resultType="ClubFileDTO">

		SELECT *
		FROM "TB_CLUB_BOARD_FILE"
		WHERE "BOARD_NUM" =
		#{boardNum}

	</select>


	<!-- 게시글 작성 -->
	<insert id="create" parameterType="ClubBoardDTO"
		useGeneratedKeys="true" keyProperty="boardNum">

		INSERT INTO "TB_CLUB_BOARD"
		(
		"BOARD_TITLE",
		"BOARD_CONTENTS",
		"BOARD_WRITER",
		"BOARD_CATEGORY",
		"CLUB_NUM",
		"CREATE_DATE"
		)
		VALUES
		(
		#{boardTitle},
		#{boardContents},
		#{boardWriter},
		#{boardCategory},
		#{clubNum},
		NOW() AT TIME ZONE
		'Asia/Seoul'
		)

	</insert>

	<!-- 수정 -->
	<update id="update" parameterType="ClubBoardDTO">

		UPDATE "TB_CLUB_BOARD"
		SET
		"BOARD_TITLE" = #{boardTitle},
		"BOARD_CONTENTS" = #{boardContents},
		"BOARD_CATEGORY" = #{boardCategory}
		WHERE "BOARD_NUM" = #{boardNum}

	</update>

	<!-- 삭제 -->
	<delete id="delete" parameterType="ClubBoardDTO">

		DELETE FROM "TB_CLUB_BOARD"
		WHERE "BOARD_NUM" = #{boardNum}

	</delete>

	<select id="noticeList" parameterType="long"
		resultType="ClubBoardDTO">
		SELECT
		CB."BOARD_NUM" AS "boardNum",
		CB."CLUB_NUM" AS
		"clubNum",
		CB."BOARD_TITLE" AS "boardTitle",
		CB."BOARD_CONTENTS" AS
		"boardContents",
		CB."BOARD_WRITER" AS "boardWriter",
		CB."BOARD_CATEGORY" AS "boardCategory",
		CB."CREATE_DATE" AS
		"createDate",
		M."MEMBER_NAME" AS "memberName"
		FROM "TB_CLUB_BOARD" CB
		JOIN "TB_MEMBER" M
		ON CB."BOARD_WRITER" = M."MEMBER_ID"
		WHERE
		CB."CLUB_NUM" = #{clubNum}
		AND CB."BOARD_CATEGORY" = '공지'
		ORDER BY
		CB."BOARD_NUM" DESC
		LIMIT 5
	</select>

	<select id="getWriterMemberNum" parameterType="long"
		resultType="long">

		SELECT
		M."MEMBER_NUM"

		FROM "TB_CLUB_BOARD" CB

		JOIN "TB_MEMBER"
		M
		ON CB."BOARD_WRITER" = M."MEMBER_ID"

		WHERE CB."BOARD_NUM" =
		#{boardNum}

	</select>

	<select id="myBoardList" parameterType="ClubBoardDTO"
		resultType="ClubBoardDTO">

		SELECT
		B."BOARD_NUM" AS "boardNum",
		B."CLUB_NUM" AS "clubNum",
		B."BOARD_WRITER" AS "boardWriter",
		B."BOARD_TITLE" AS "boardTitle",
		B."BOARD_CONTENTS" AS "boardContents",
		B."BOARD_CATEGORY" AS "boardCategory",
		B."CREATE_DATE" AS "createDate",
		C."CLUB_NAME" AS "clubName"
		FROM "TB_CLUB_BOARD" B
		INNER JOIN "TB_CLUB" C
		ON B."CLUB_NUM" = C."CLUB_NUM"
		WHERE B."BOARD_WRITER" = #{memberId}
		ORDER BY B."BOARD_NUM" DESC

	</select>

</mapper>