<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.app.club.chat.ClubMessageMapper">

	<insert id="insert" parameterType="ClubMessageDTO">
		INSERT INTO "TB_CLUB_MESSAGE"
		(
		"CLUB_NUM",
		"SENDER_NUM",
		"MESSAGE_CONTENTS",
		"MESSAGE_TYPE",
		"IMAGE_URL"
		)
		VALUES
		(
		#{clubNum},
		#{senderNum},
		#{messageContents},
		#{messageType},
		#{imageUrl}
		)
	</insert>

	<select id="list" parameterType="long"
		resultType="ClubMessageDTO">

		SELECT
		CM."MESSAGE_NUM",
		CM."CLUB_NUM",
		CM."SENDER_NUM",
		CM."MESSAGE_CONTENTS",
		CM."MESSAGE_TYPE",
		CM."IMAGE_URL",

		C."CLUB_NAME" AS "CLUB_NAME",
		M."MEMBER_NAME" AS "SENDER_NAME",

		TO_CHAR(
		CM."CREATE_DATE" AT TIME ZONE 'Asia/Seoul',
		'HH24:MI'
		) AS "CHAT_TIME"

		FROM "TB_CLUB_MESSAGE" CM

		LEFT JOIN "TB_MEMBER" M
		ON
		CM."SENDER_NUM" = M."MEMBER_NUM"

		LEFT JOIN "TB_CLUB" C
		ON CM."CLUB_NUM"
		= C."CLUB_NUM"

		WHERE CM."CLUB_NUM" = #{clubNum}

		ORDER BY
		CM."MESSAGE_NUM" ASC

	</select>

</mapper>