<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.club.app.member.MemberMapper">

	<insert id="signUp" parameterType="MemberDTO" useGeneratedKeys="true" keyProperty="memberNum">
		insert into "TB_MEMBER"
		values(default, #{memberName}, #{memberEmail}, #{memberPhone}, #{memberBirth}, 2,
		#{memberPw}, #{memberId})
	</insert>

	<insert id="addProfile" parameterType="MemberProfileDTO">
		insert into "MEMBER_PROFILE"
		values(default, #{memberNum}, #{fileName}, #{oriName})
	</insert>

	<select id="detail" parameterType="MemberDTO" resultMap="memberMap">
		select * from "TB_MEMBER" as m
		left join "MEMBER_PROFILE" f
		using("MEMBER_NUM")
		inner join "TB_ROLE"
		using("ROLE_NUM")
		where "MEMBER_ID" =
		#{memberId}
	</select>

	<resultMap type="MemberDTO" id="memberMap">
		<id column="MEMBER_NUM" property="memberNum"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="MEMBER_PHONE" property="memberPhone"/>
		<result column="MEMBER_BIRTH" property="memberBirth"/>
		<result column="ROLE_NUM" property="roleNum"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PW" property="memberPw"/>
		<result column="ENABLED" property="enabled"/>
		<result column="CREDENTIALS_NON_EXPIRED" property="credentialsNonExpired"/>
		<result column="ACCOUNT_NON_LOCKED" property="accountNonLocked"/>
		<result column="ACCOUNT_NON_EXPIRED" property="accountNonExpired"/>
		<association property="profile" javaType="MemberProfileDTO">
			<result column="FILE_NUM" property="fileNum"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="ORI_NAME" property="oriName"/>
		</association>
		<collection property="roles" javaType="java.util.List" ofType="RoleDTO">
			<id column="ROLE_NUM" property="roleNum"/>
			<result column="ROLE_NAME" property="roleName"/>
		</collection>
	</resultMap>

	<delete id="delete" parameterType="MemberDTO">
		delete from "TB_MEMBER"
		where "MEMBER_NUM" = #{memberNum}
	</delete>

	<update id="update" parameterType="MemberDTO">
		update "TB_MEMBER"
		set
		"MEMBER_NAME" = #{memberName},
		"MEMBER_EMAIL" = #{memberEmail},
		"MEMBER_PHONE" = #{memberPhone},
		"MEMBER_BIRTH" = #{memberBirth},
		"MEMBER_ID" = #{memberId}
		where "MEMBER_NUM" = #{memberNum}
	</update>

	<update id="updatePw" parameterType="MemberDTO">
		update "TB_MEMBER"
		set
		"MEMBER_PW" = #{memberPw}
		where "MEMBER_NUM" = #{memberNum}
	</update>

	<update id="fileUpdate" parameterType="MemberProfileDTO">
		update "MEMBER_PROFILE"
		set
		"FILE_NAME" = #{fileName},
		"ORI_NAME" = #{oriName}
		where "MEMBER_NUM" = #{memberNum}
	</update>

	<select id="checkId" resultType="int">
		select count(*)
		from "TB_MEMBER"
		where "MEMBER_ID" = #{memberId}
	</select>
	
	<select id="checkEmail" resultType="String">
		select count(*)
		from "TB_MEMBER"
		where "MEMBER_EMAIL" = #{memberEmail}
	</select>

</mapper>