<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.club.app.product.ProductMapper">

	<insert id="add" parameterType="ProductDTO" useGeneratedKeys="true" keyProperty="productNum">
		insert into "TB_PRODUCT"
		values (default, #{memberNum}, #{productTitle}, #{productContent}, #{productPrice},
		#{productLocation}, now(), '판매중', #{productType})
	</insert>

	<insert id="addFile" parameterType="ProductFileDTO">
		insert into "TB_PRODUCTFILE"
		values (default, #{productNum}, #{fileName}, #{oriName})
	</insert>

	<sql id="search_sql">
		WHERE 1=1
		<if test="search != null and search != ''">
			AND "PRODUCT_TITLE" LIKE CONCAT('%', #{search}, '%')
		</if>
		<if test="productType != null and productType.size() > 0">
			AND "PRODUCT_TYPE" IN
			<foreach collection="productType" item="type" open="(" separator="," close=")">
				#{type}
			</foreach>
		</if>
		<if test="productLocation != null and productLocation != ''">
			AND "PRODUCT_LOCATION" LIKE CONCAT('%', #{productLocation}, '%')
		</if>
	</sql>

	<select id="getCount" resultType="Long" parameterType="pager">
		select count("PRODUCT_NUM") from "TB_PRODUCT"
		<include refid="search_sql"></include>
	</select>

	<select id="list" resultMap="productMap">
		SELECT *
		FROM (
		SELECT p.*
		FROM "TB_PRODUCT" p
		<include refid="search_sql"/>
		ORDER BY p."CREATETIME" DESC
		LIMIT #{perPage} OFFSET #{startNum}
		) p
		LEFT JOIN "TB_PRODUCTFILE" f
		ON p."PRODUCT_NUM" = f."PRODUCT_NUM"
		ORDER BY p."CREATETIME" DESC
	</select>

	<resultMap id="productMap" type="ProductDTO">
		<id property="productNum" column="PRODUCT_NUM"/>
		<result property="productTitle" column="PRODUCT_TITLE"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productLocation" column="PRODUCT_LOCATION"/>
		<result property="productStatus" column="PRODUCT_STATUS"/>
		<result property="productType" column="PRODUCT_TYPE"/>
		<collection property="fileList" ofType="ProductFileDTO">
			<result property="fileName" column="FILE_NAME"/>
			<result property="productNum" column="PRODUCT_NUM"/>
		</collection>
	</resultMap>

	<select id="detail" resultMap="productMap2">
		select * from "TB_PRODUCT" p
		left join "TB_PRODUCTFILE" f
		using("PRODUCT_NUM")
		where "PRODUCT_NUM" = #{productNum}
	</select>

	<resultMap id="productMap2" type="ProductDTO">
		<id property="productNum" column="PRODUCT_NUM"/>
		<result property="productTitle" column="PRODUCT_TITLE"/>
		<result property="productContent" column="PRODUCT_CONTENT"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productType" column="PRODUCT_TYPE"/>
		<result property="productLocation" column="PRODUCT_LOCATION"/>
		<result property="productStatus" column="PRODUCT_STATUS"/>
		<result property="memberNum" column="MEMBER_NUM"/>
		<collection property="fileList" ofType="ProductFileDTO">
			<result property="fileNum" column="FILE_NUM"/>
			<result property="fileName" column="FILE_NAME"/>
			<result property="oriName" column="ORI_NAME"/>
		</collection>
	</resultMap>

	<update id="edit" parameterType="ProductDTO">
		UPDATE "TB_PRODUCT"
		SET
		"PRODUCT_TITLE" = #{productTitle},
		"PRODUCT_PRICE" = #{productPrice},
		"PRODUCT_LOCATION" = #{productLocation},
		"PRODUCT_TYPE" =
		#{productType},
		"PRODUCT_CONTENT" = #{productContent},
		"PRODUCT_STATUS" = #{productStatus}
		WHERE "PRODUCT_NUM" = #{productNum}
	</update>

	<delete id="deleteFile" parameterType="long">
		DELETE FROM "TB_PRODUCTFILE"
		WHERE "FILE_NUM" = #{fileNum}
	</delete>

	<delete id="delete" parameterType="ProductDTO">
		DELETE FROM "TB_PRODUCT"
		WHERE "PRODUCT_NUM" = #{productNum}
	</delete>

	<select id="myList" resultMap="productMap3">
		SELECT *
		FROM "TB_PRODUCT"
		WHERE "MEMBER_NUM" = #{memberNum}
		<if test="search != null and search != ''">
			AND "PRODUCT_TITLE" LIKE CONCAT('%', #{search}, '%')
		</if>
		<if test="productType != null and productType.size() > 0">
			AND "PRODUCT_TYPE" IN
			<foreach collection="productType" item="type" open="(" separator="," close=")">
				#{type}
			</foreach>
		</if>
		<if test="productLocation != null and productLocation != ''">
			AND "PRODUCT_LOCATION" LIKE CONCAT('%', #{productLocation}, '%')
		</if>
		ORDER BY "CREATETIME" DESC
		LIMIT #{perPage} OFFSET #{startNum}
	</select>

	<resultMap id="productMap3" type="ProductDTO">
		<id property="productNum" column="PRODUCT_NUM"/>
		<result property="productTitle" column="PRODUCT_TITLE"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="productLocation" column="PRODUCT_LOCATION"/>
		<result property="productStatus" column="PRODUCT_STATUS"/>
		<result property="productType" column="PRODUCT_TYPE"/>
		<collection property="fileList" ofType="ProductFileDTO" select="getFileList" column="PRODUCT_NUM"/>
	</resultMap>

	<select id="getFileList" resultType="ProductFileDTO">
		SELECT *
		FROM "TB_PRODUCTFILE"
		WHERE "PRODUCT_NUM" = #{productNum}
	</select>

</mapper>